.SignUp-Container {
    position: relative;
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    margin:0 auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 1180px;
    font-family: "Jalnan";
    background-color: white;
}

@media screen and (max-width:990px) {
    .SignUp-Container{
        padding: 25px;
        margin-top: 200px;
        margin-bottom: 200px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        max-width: 990px;
    }
}

.SignUp-Main-Box {
    border: 1px solid;
    height: 700px;
    width: 800px;
    margin: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-top: 80px;
    scroll-padding-right: 10px;
    border-radius: 20px;
    overflow-y: auto;
    min-width: 600px;
    background-color: rgb(250, 244, 160);
}

.SignUp-header {
    margin-bottom: 30px;
}

.SigUp-header-font {
    font-size: 50px;
}

.Input-border-1 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-2 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-3{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-4 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-5 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-6 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
}

.Input-border-7 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 380px;
    margin-top: 24px;
}

.Input-border-Id {
    margin-right: 30px;
}

.Input-border-introduce {
    margin-bottom: 25px;
}

/*tarms*/

.checkbox-check-all {
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(226, 243, 181);
}

.checkbox-check-single {
    border: 1px solid;
}

.checkbox-check-single {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgb(226, 243, 181);
}

.checkbox-check-btn {
    padding-left: 560px;
    margin-bottom: 20px;
}

.Terms-agree-btn {
    border-radius: 30px;
    font-size: 35px;
    margin-top: 50px;
}


