.SignUp-Container {
    display: block;
    position: relative;
    height: 1250px;
    align-items: center;
    flex-direction: column;
    max-width: 1180px;
    background-color: white;
    font-family: "Jalnan";
    text-align: center;
    background-color: black;
}

.SignUp-Main-Box {
    border: 1px solid;
    border-radius: 20px;
    height: 700px;
    padding: 25px;
    margin-left: 300px;
    margin-right: 300px;
    scroll-padding-right: 10px;
    overflow-y: auto;
    background-color: white;
}

.SignUp-header {
    margin-bottom: 30px;
}