.SignUp-Container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 1180px;
    font-family: "Jalnan";
    background-color: white;
}

.SignUp-Main-Box {
    border: 1px solid;
    border-radius: 20px;
    height: 700px;
    padding: 25px;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    scroll-padding-right: 10px;
    background-color: white;
}

.SignUp-header {
    margin-bottom: 30px;
}

.Input-border {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.Input-border-Id {
    margin-right: 30px;
}

.Input-border-introduce {
    margin-bottom: 25px;
}

