
/*전체 폼*/
/* .App {
  position: relative;
  height: 1250px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  flex-direction: column;
  max-width: 1180px;
  background-color: white;
  font-family: "Jalnan";
} */

@font-face {
  font-family: "Jalnan";
  src: url("./font/Jalnan.ttf");
}